.Header{
  padding: 12px 16px 12px 16px;
  background-color:red; 
}

.HeaderInnerContainer{
  position: relative;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 239px 0 239px;
}

.headerLogoContainer{
  display: inline-block;
  padding-top: .0375rem;
  padding-bottom: .0375rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}

.HeaderLogo{
  height: 1.75rem;
  display:inline;
  padding-top: 1rem;
}

@media (min-width: 1200px) {
  .HeaderInnerContainer {
    max-width: 1140px;
  }
}