li {
  padding-top: 1rem;
  margin: 0;
  padding-bottom: 1rem;
  border-radius: 0;
  display:inline-block;
}

li a{
  margin: 0;
  font-family: "Nunito Sans", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.7;
  color: #718096;
  text-align: left;
  background-color: #fff;
  list-style: none;
  text-decoration: none;
  padding-right: 1rem;
  padding-left: 1rem;
}